main {
    display: grid;
    grid-template-columns: 20% 18% 18% auto auto;
    border: 0.2em solid black;
    padding: 1% 1%;
    column-gap: 0.2em;

    background-color: #faebd7;
}

textarea {
    resize: none;
    width: 98%;
    height: 2em;
    margin-right: 4%;

    grid-column: 1/ span 5;
}

input {
    margin: 1em 4%;
    border-radius: 6em;
}

body {
    margin: 3em 2%;
    display: flex;

    justify-content: center;
}

input[type = "button"] {
    background-color: #e7e3e3;
}

label {
    grid-column: 1/span 5;
}

h1 {
    grid-column: 1/ span 5;
}

input[value = "F-E"] {
    grid-column: 3/ span 3;

    width: 30%;
}
