main {
    display: grid;
    grid-template-columns: 20% 18% 18% auto auto;
    border: 0.2em solid black;
    padding: 1% 1%;
    column-gap: 0.2em;

    background-color: #faebd7;
}

textarea {
    resize: none;
    width: 98%;
    height: 2em;
    margin-right: 4%;

    grid-column: 1/ span 5;
}

input {
    margin: 1em 4%;
    border-radius: 6em;
}

aside {
    grid-column: 1/span 5;

    display: grid;

    grid-template-areas: "RAD HYP F-E F-E F-E"
                        "MC MR Mm Mn MS";


}

body {
    margin: 3em 2%;
    display: flex;

    justify-content: center;
}

input[type = "button"] {
    background-color: #e7e3e3;
}

label {
    padding-top: 12%;
}

h1 {
    grid-column: 1/ span 5;
}

input[value = "RAD"] {
    grid-area: RAD;
}

input[value = "HYP"] {
    grid-area: HYP;
}

input[value = "F-E"] {
    grid-area: F-E;

    width: 40%;
}

input[value = "MC"] {
    grid-area: MC;
} 

input[value = "MR"] {
    grid-area: MR;
}

input[value = "M+"] {
    grid-area: Mm;
} 

input[value = "M-"] {
    grid-area: Mn;
}

input[value = "MS"] {
    grid-area: MS;
} 
