body {
    color: black;
    background: #EDEDED;    
}

main {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    gap: 2em;
}

section {
    border: solid 0.3em gray;
    padding: 1%;
    margin: 2%;

    background: azure
}

footer {
    margin-top: 1em;
}