body {
    display: grid;
    grid-template-areas:   
            'h h h h'
            'm m m m'
            'm m m m';
    grid-template-columns: repeat(4,1fr);
    gap: 1em;
    margin: 2em;
}

header {
    grid-area: h;
}

main {
    grid-area: m;    
}

main > section {
    display: flex ;
    flex-direction: column;

    margin: 2em;
    padding: 1em;
}

video, img {   
    width: 20%;
    height: auto;

    margin: 0.5em;
}