/**********************/
/* Enrique Hilanderas Corbillón UO282867
/**********************/

/*Especifidad: 001 */
body {
    display: grid;
    grid-template-areas:   
            'h h h h h h h h h h'
            'n n m m m m m m m p'
            'n n m m m m m m m p'
            'n n m m m m m m m p'
            'f f f f f f f f f f';
    grid-template-columns: repeat(10,1fr);
    gap: 1em;
    margin: 2em;
}

/*Especifidad: 001 */
header {
    grid-area: h;
}

/*Especifidad: 001 */
nav {
    grid-area: n;

    display: flex;
    flex-direction: column;    

    margin: 1em;
    padding: 0.4em;
}

/*Especifidad: 002 */
nav > a {
    padding: 1em 1em;
}

/*Especifidad: 001 */
main {
    grid-area: m;
}

/*Especifidad: 001 */
picture {
    grid-area: p;

    padding-left: 0.5em;
}

/*Especifidad: 001 */
footer {
    grid-area: f;
    justify-self: right;
}

/*Especifidad: 002 */
main > section {
    margin: 2em 0em;
}

/*Especifidad: 001 */
video, img {
    width: 100%;
    height: auto;
}

/*Especifidad: 002 */
form > fieldset {
    margin: 1em 0em;
}

/*Especifidad: 002 */
table > caption {
    margin-bottom: 0.3em;
}

