body{
    background-color: #f0f8ff;
    color: #292222;
}

h1 {
    font-size: 3em;
    color: #000000;
}

h2 {
    font-size: 2.5em;
    color: black;
}

h3 {
    font-size: 2em;
    color: #302f2f;
}

h4 {
    font-size: 1.5em;
    color: #302f2f;
}

p {
    font-size: 1em;
}